@import 'search.scss';
@import 'variables.scss';
@import './annotation/highlights.scss';
@import 'utils.scss';

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer#page-footer {
  display: none;
}

.local_envbar .navbar.fixed-top {
  top: 0 !important;
}

#page-content .activity-navigation #jump-to-activity, #page-content .activity-navigation #prev-activity-link, #page-content .activity-navigation #next-activity-link, .envbar, #envbar_spacer
{
  display: none !important;
}

#page-content .activity-navigation
{
  margin-top: 10px !important;
  position: absolute;
  top: 0;
  right: 10px;
}


#page 
{
  overflow: hidden !important;
  padding: 0 !important;
}

#page #topofscroll
{
  padding: 0 !important;
}

#page.drawers div[role="main"] {
  padding-right: 0 !important;
}

#page .drawer-left-toggle
{
  margin-top: 3rem !important;
}

#page .secondary-navigation
{
  // display: none !important;
}

#page-content #region-main
{
  padding-bottom: 0 !important;
  padding-top: 0.5rem !important;
}

#page-content #region-main .mt-3
{
  margin-top: 0.5rem !important;
  margin-bottom: 0 !important;
}

#region-main-box {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: none;
}

#page-content
{
  padding-bottom: 0 !important;
}

#page.drawers .main-inner //for Moodle 4.x
{
  margin-top: 0px !important;
  padding-top: 0.5rem !important;
}

#page-content #region-main hr
{
  display: none;
}

#longpage-main
{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// .longpage-assignment-link {
//   display: none !important;
// }

.thread
{
  white-space: pre-wrap;
}

.justify-text {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.longpage-footnote {
  color: #004C97;
  margin: 0;
  border: 0;
  padding: 0 !important;
  vertical-align: 0;
}

.longpage-footnote button {
  font-size: 1em;
  margin: 0;
  border: 0;
  padding: 0 !important;
  vertical-align: 0;
}

.longpage-footnote:hover button {
  background-color: #004C97;
  color: #fff;
  /* border-radius: 5px;
  border: solid 1px #004C97;
  */
}

.popover{
  width: auto;
  max-width: 500px; /* Max Width of the popover (depending on the container!) */
}

.badge.badge-pill.badge-warning
{
  right: 0 !important;
}

.longpage-citation {
  color: #004C97 !important;
  margin: 0;
  border: 0;
  padding: 0 !important;
  vertical-align: 0;
  font-size: 1em;
}

#longpage-content {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  hyphens: auto;
  word-break: break-word;
  max-width: 40em;
  /*text-align: justify;*/
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#longpage-content .wrapper > p, #longpage-content .wrapper > div {
  margin: 0px 0px 10px 0px;
  line-height: 1.6em;
}

#longpage-content h2 {
  font-size: 1.6em;
  line-height: 1.25em;
  width: 100%;
  margin: 30px 0px 0px 0px;
  padding: 0px;
  font-weight: bold;
}

#longpage-content h3 {
  font-size: 1.2em;
  line-height: 1.51em;
  margin: 20px 0px 0px 0px;
  font-weight: bold;
  padding: 0 0 0 0px;
}

#longpage-content h4 {
  font-size: 1.1em;
  line-height: 1.41em;
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  padding: 0 0 0 0px;
}

#longpage-content h5 {
  font-size: 1.0em;
  line-height: 1.41em;
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  padding: 0 0 0 0px;
}

#longpage-content .longpage-image-block, #longpage-content .longpage-table-block {
  margin: 1em 0;
  width: 100%;
}

@media (min-width: 768px)
{
  #longpage-content .longpage-image-block img[src*="svg"] 
  {
    transform: scale(1.15);
    margin: 8%;
  }
}


#longpage-content .longpage-image-block table {
  margin: 1em 0;
  border-bottom: solid 1px #333;
}

#longpage-content .longpage-image-block table tr:nth-child(1) {
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
}

#longpage-content .longpage-image-block table tr td {
  vertical-align: top;
  padding: 4px 8px 4px 0;
}

/* bad hack for 1D */

#longpage-content table {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  margin: 0 8px;
  width: 100%;
}

#longpage-content table thead {
  border-bottom: 2px solid #333;
}

#longpage-content table tbody tr td {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 4px 6px;
  vertical-align: top;
  margin: 0;
}

/* END bad hack for 1D */

#longpage-content .longpage-image-block img {
  max-height: 80vh;
  align-content: center;
  display: flex;
}

#longpage-content .longpage-image-caption, #longpage-content .longpage-table-caption {
  font-size: 0.9em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.4em;
  padding: 4px 6px;
}

.longpage-caption-label {
  font-weight: bold;
}

#longpage-content ul, #longpage-content ol {
  margin: 1em 0em 1em 0.2em;
  padding-left: 1.2em;
}

#longpage-content ul li, #longpage-content ol li {
  padding-left: 0.3em;
}

.longpage-center {
  text-align: center;
}

.longpage-assignment {
  background-color: #007bff17;
  border-top: 1px solid #004C97;
  border-bottom: 1px solid #004C97;
  margin: 2em 0em;
  padding: .2em 1em .8em 1em;
  width: 100%;
}

.longpage-assignment-link {
  color: #004C97 !important;
  margin-top: 10px;
}

.longpage-solution {
  background-color: #007bff17;
  border-top: 1px solid #004C97;
  border-bottom: 1px solid #004C97;
  margin: 2em 0em;
  padding: 1em;
}

.longpage pre {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

div.longpage-center pre, pre {
  text-align: left !important;
  font-family: monospace, monospace;
  background-color: #ddd !important;
  text-align: left;
  overflow: auto;
  padding: 4px 6px;
  margin: 10px 0 10px 0;
}

code {
  font-family: monospace, monospace;
  background-color: #ddd;
  padding: 2px 4px;
  color: #222222;
}

.nobr {
  white-space: nowrap;
}

.longpage-italic {
  font-style: italic;
}

.longpage-bold {
  font-weight: bold;
}

.longpage-inline {
  display: inline;
}

.longpage-paragraph {
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#longpage-content .reading-progress {
  z-index: 40;
  display: block;
  height: auto;
  min-width: 7px;
  background-color: #004C97;
  position: relative;
  //top: 0;
  flex-shrink: 0;
  border-radius: 50px/50px;
  opacity: 0.3;
  margin-left: 20px;
}

#longpage-content .progress-0 {
  width: 6px;
}

#longpage-content .progress-1 {
  width: 8px;
  left: 1px;
}

#longpage-content .progress-2 {
  width: 10px;
  left: 2px;
}

#longpage-content .progress-3 {
  width: 12px;
  left: 3px;
}

#longpage-content .progress-4 {
  width: 16px;
  left: 5px;
}

#longpage-content .progress-5 {
  width: 20px;
  left: 6px;
}

/* */

.blocks {
  padding-top: 63px;
}

#first {
  background-color: #dc3545;
}

#second {
  background-color: #007bff;
}

#third {
  background-color: #28a745;
}

.navbar {
  position: fixed;
  background-color: #6c757d;
  width: 100%;
  text-align: center;
}

.navbar-items {
  padding: 0;
  font-size: 1.25rem;
}

.navbar-items li {
  list-style: none;
  display: inline-block;
}

.navbar-items li+li {
  margin-left: 20px;
}

.navbar-items li a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.navbar-items li a::after {
  width: 0;
  content: "";
  height: 4px;
  background-color: #ffc107;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width .3s ease;
}

.navbar-items li a.active::after {
  width: 100%;
}

.longpage-marginal {
  align-content: flex-start;
  font-weight: bold;
  margin-bottom: 4px;
}

.longpage-bold {
  font-weight: bold;
}

.longpage-tabbing {
  display: inline-block;
  white-space: pre-wrap;
  background-color: #ddd;
  padding: 6px 10px;
  font-size: 0.9em;
  margin-left: 4px;
  margin-right: 4px;
}

.longpage-minipage {
  padding: 10px 0;
}

.longpage-indent {
  font-size: 0.9em;
  margin-left: 20px;
  white-space: pre-wrap;
  margin-bottom: 10px;
}

.longpage-monospace {
  font-family: monospace;
}

#page-navbar .breadcrumb {
  display: none;
}

#page-header {
  display: none;
}

#page-header .card {
  border:none;
}
#page-header .card-body {
  padding: 0rem 1.25rem;
}
#page-header .page-context-header {
  padding: 0;
  display: none;
}

#page-header .col-12.pt-3.pb-3 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

/* #page-header .page-context-header h1 {
  font-size: 1.3rem;
}
*/
/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
  h1, .h1 {
    font-size: 1.3rem;
  }
  .card {
    border: none;
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
  h1, .h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 767.98px) {
  #longpage-sidebar {
    position: absolute;
    z-index: 40;
    right: 0px;
    background-color: white;
  }
}

/* XS Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
  #page-navbar .breadcrumb, #region-main-settings-menu {
    display: none;
  }
  #longpage-content {
    font-size: 14px;
    padding-right: 40px !important;
  }
  h1, .h1 {
    font-size: 1.3rem;
  }
  #region-main-box .card, header .card {
    border: none;
  }
  .longpage-assignment-link {
    color: #004C97 !important;
    margin-top: 10px;
  }
}

#longpage-content p, #longpage-content .longpage-assignment, #longpage-content ol, #longpage-content ul, #longpage-content h2, #longpage-content h3, #longpage-content h4 {
  /*color: #28a745 !important;*/
}

#region-main {
  overflow: visible;
}