html
{
    overflow-y: visible !important;
}

body 
{
    font-size: 1rem;
    overflow-y: auto !important;
}

body[data-tags="neu"] .que .formulation 
{
    background-color: lightyellow;
}

body[data-tags="neu"] .que .formulation::before
{
    content: "NEU:";
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.draghome
{
    box-shadow: 0 0 2px 2px rgb(255, 255, 150);
    margin-bottom: 10px !important;
}

.que.ddimageortext .draghomes.readonly .draghome.active
{
    display: none !important;
}

.que.ddimageortext div.ddarea
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 100%;
    justify-content: center;
}

.que.ddimageortext div.ddarea .droparea
{
    order: 2;
}

.que.ddimageortext div.ddarea .dropareas
{
    order: 1;
}

.que .info, .activity-header
{
    display: none !important;
}

.que .content
{
    margin: 0 !important;
}

.que .outcome
{
    background-color:  transparent !important;
}

.que .answer .flex-fill[contenteditable="true"] {
    background-color: white;
    cursor: text;
    padding: 5px;
  }